.idea/
.ruff_cache
pgdata/
postgresql/
__pycache__/
*.py[cod]
*$py.class
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
__pypackages__/
celerybeat-schedule
celerybeat.pid
.venv
venv/
.DS_Store
TODO.md